/AppJava/P1-T6-Model-PerezCulleresSergio/nbproject/private/
/AppJava/P1-T6-InterficiePersistencia-PerezCulleresSergio/nbproject/private/
/AppJava/P1-T6-CapaOracle-PerezCulleresSergio/nbproject/private/
/AppJava/P1-T6-CapaOracle-PerezCulleresSergio/build/
/AppJava/P1-T6-Model-PerezCulleresSergio/build/
/AppJava/P1-T6-InterficiePersistencia-PerezCulleresSergio/build/
/AppJava/P1-T7-Vista-PerezCulleresSergio/nbproject/private/
/AppJava/P1-T7-Vista-PerezCulleresSergio/build/
